@font-face {
  font-family: "iconfont"; /* Project id 3367645 */
  src: url('iconfont.woff2?t=1651907314761') format('woff2'),
       url('iconfont.woff?t=1651907314761') format('woff'),
       url('iconfont.ttf?t=1651907314761') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-shouyinji:before {
  content: "\e600";
}

.icon-rili:before {
  content: "\e601";
}

.icon-paihangbang:before {
  content: "\e782";
}

.icon-zhiboshenqing:before {
  content: "\e735";
}

.icon-gedan:before {
  content: "\e61b";
}

.icon-zhuanji:before {
  content: "\e6b5";
}

.icon-zanting:before {
  content: "\e685";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-24gf-playlistMusic2:before {
  content: "\ea86";
}

.icon-bofang:before {
  content: "\e621";
}

.icon-yuyin:before {
  content: "\e608";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-caidan:before {
  content: "\e609";
}

.icon-yinle:before {
  content: "\e62e";
}

.icon-faxian:before {
  content: "\e67e";
}

.icon-shequ-active:before {
  content: "\e67b";
}

.icon-zhiboziyuan:before {
  content: "\e614";
}

.icon-guanzhu:before {
  content: "\e6cf";
}

