@font-face {
  font-family: "iconfont"; /* Project id 3367645 */
  src: url('iconfont.woff2?t=1657868093583') format('woff2'),
       url('iconfont.woff?t=1657868093583') format('woff'),
       url('iconfont.ttf?t=1657868093583') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ma:before {
  content: "\e615";
}

.icon-paihang:before {
  content: "\e898";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianzan1:before {
  content: "\e8c4";
}

.icon-fanhui:before {
  content: "\e60f";
}

.icon-shijian:before {
  content: "\e60c";
}

.icon-yunshangchuan_o:before {
  content: "\ebb4";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-gou:before {
  content: "\e60b";
}

.icon-zhuti:before {
  content: "\e7aa";
}

.icon-xiaolian:before {
  content: "\e8ab";
}

.icon-diqiu:before {
  content: "\e689";
}

.icon-kafei:before {
  content: "\e610";
}

.icon-gangqin:before {
  content: "\e653";
}

.icon-gerenzhongxin:before {
  content: "\e606";
}

.icon-caidan1:before {
  content: "\e60a";
}

.icon-fenxiang:before {
  content: "\e650";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-shoucangjia:before {
  content: "\e633";
}

.icon-icon-:before {
  content: "\e649";
}

.icon-shuzishunxu:before {
  content: "\e7de";
}

.icon-24gl-shuffle:before {
  content: "\ea75";
}

.icon-hanhan-01-01:before {
  content: "\e6ae";
}

.icon-huaban:before {
  content: "\e60e";
}

.icon-yichang:before {
  content: "\e60d";
}

.icon-31xiaoxi:before {
  content: "\e605";
}

.icon-xihuan:before {
  content: "\e8c3";
}

.icon-xihuan1:before {
  content: "\e86f";
}

.icon-xiazai:before {
  content: "\e659";
}

.icon-morentouxiang:before {
  content: "\e8c9";
}

.icon-youhuobaopiaoju:before {
  content: "\e973";
}

.icon-shezhi:before {
  content: "\e853";
}

.icon-baitian:before {
  content: "\e64f";
}

.icon-shangcheng:before {
  content: "\e61f";
}

.icon-icon--:before {
  content: "\e70a";
}

.icon-dengpao:before {
  content: "\e612";
}

.icon-yun_o:before {
  content: "\ebb3";
}

.icon-yejianmoshi:before {
  content: "\e613";
}

.icon-zhongchengdujiaoyi:before {
  content: "\e6b6";
}

.icon-youxi:before {
  content: "\e63b";
}

.icon-xiaoxitongzhi:before {
  content: "\ec35";
}

.icon-iconfontscan:before {
  content: "\e604";
}

.icon-bofang1:before {
  content: "\e611";
}

.icon-Androidgengduo:before {
  content: "\eb00";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-shouyinji:before {
  content: "\e600";
}

.icon-rili:before {
  content: "\e601";
}

.icon-paihangbang:before {
  content: "\e782";
}

.icon-zhiboshenqing:before {
  content: "\e735";
}

.icon-gedan:before {
  content: "\e61b";
}

.icon-zhuanji:before {
  content: "\e6b5";
}

.icon-zanting:before {
  content: "\e685";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-24gf-playlistMusic2:before {
  content: "\ea86";
}

.icon-bofang:before {
  content: "\e621";
}

.icon-yuyin:before {
  content: "\e608";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-caidan:before {
  content: "\e609";
}

.icon-yinle:before {
  content: "\e62e";
}

.icon-faxian:before {
  content: "\e67e";
}

.icon-shequ-active:before {
  content: "\e67b";
}

.icon-zhiboziyuan:before {
  content: "\e614";
}

.icon-guanzhu:before {
  content: "\e6cf";
}

