
html{
	font-size: 10vw;
}
// @media screen and (min-width: 600px) {
// 	html{
// 		font-size: 5vw;
// 	}
// }
// @media screen and (min-width: 1200px) {
// 	html{
// 		font-size: 3vw;
// 	}
// }
.flex_box_center_column{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.text_over_line{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.text_over_two_lines{
	overflow: hidden; 
	text-overflow: ellipsis;
	display: -webkit-box; 
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; 
}
.text_over_three_lines {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
// 网页悼念风格
// html{
// 	filter: grayscale(100%);
// 	-webkit-filter: grayscale(100%);
// 	-moz-filter: grayscale(100%);
// 	-ms-filter: grayscale(100%);
// 	-o-filter: grayscale(100%);
// 	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
// 	-webkit-filter: grayscale(1);
// }
.box_white_container{
	background: var(--my-back-color-white);
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0 0 20px 0 rgba(136,137,140,.33);
}
.box_shadow{
	box-shadow: 0 0 20px 0 rgba(136,137,140,.33);
}